{% extends "content_base.html" %}

{% block login_selection %}
	class="selected"
{% endblock %}

{% block content_title %}	
	LOGIN
{% endblock %}

{% block content %}
	<form class="basic_form" method="POST" action=".">
		{% csrf_token %} 
		<label for="login">Login:</label> 
		<input type="text" name="login" id="login" />
		<br /> 
		<label for="password">Password:</label>
		<input type="password" name="password" id="password" />
		<br /> 
		<input type="submit" value="Login" id="submit" />
		<p id="errors">
			{% for error in errors %} 
				{{error}} 
				<br /> 
			{% endfor %}
		</p>
	</form>	
	
	<div class="other_logins_wrapper">
		<h4>Or</h4>
		<a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Login with Twitter</a>
		<a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>
	</div>
{% endblock %}